<footer style="width: auto">
  <div class="f-social">
    <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
    <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
    <i class="fa-brands fa-linkedin"></i>
  </div>
  <p>&copy;&nbsp;Wanderlust Private Limited</p>
  <div class="f-copyright">
    <a href="#">Privacy</a>
    <a href="#">Terms</a>
  </div>
</footer>
